// .formInput{
//   border-style: solid;
//   border-width: 1px;
//   color: #378a9b;
//   border-radius: .25rem;
// }

.form-control{
  border-color: #378a9b;
  margin-top: 20px;
}

.formLabel{
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #777;
  letter-spacing: .1em;
  font-weight: 300;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, Lato, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.dangerText{
  color: #a94442;
}

.btn{
  border-color: #378a9b;
  color: #378a9b;
  margin-bottom: 30px;
}
