@import "../../assets/baseStyles/base.less";

.panel-default{
  border-color: @baseColor;
  margin-top: 20px;
}

.panel-default>.panel-heading {
    color: white;
    background-color: @baseColor;
    border-color: @baseColor;
}

.panelText{
  color: #777;
}

a, a:hover, a:visited{
  color: @baseColor;
  text-decoration: none;
}
