@import "../../assets/baseStyles/base.less";

.announceText {
  text-align: center;
  text-transform: uppercase;
  color: #777;
  letter-spacing: 0.1em;
  font-weight: 300;
  line-height: 1.5;
  font-family: @baseFont;
  margin-top: 7px;
  font-size: 1.5rem;
}