// .subHeader{
//   font-size: 2rem;
//   text-transform: uppercase;
//   color: #777;
//   letter-spacing: .1em;
//   font-weight: 300;
//   line-height: 1.5;
//   font-family: -apple-system, BlinkMacSystemFont, Lato, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
//   margin-top: 7px;
// }
//
// .contact-appear {
//   // opacity: 0.01;
//   width: 0px;
// }
//
// .contact-appear.contact-appear-active {
//   // opacity: 1;
//   width: 100%;
//   transition: .5s;
//   transition-timing-function: ease-in;
// }
//
// .about-appear {
//   // opacity: 0.01;
//   width: 0px;
// }
//
// .about-appear.about-appear-active {
//   // opacity: 1;
//   width: 100%;
//   transition: .5s;
//   transition-timing-function: ease-in;
// }
//
// .testimonials-appear {
//   // opacity: 0.01;
//   width: 0px;
// }
//
// .testimonials-appear.testimonials-appear-active {
//   // opacity: 1;
//   width: 100%;
//   transition: .5s;
//   transition-timing-function: ease-in;
// }
//
// .work-appear {
//   // opacity: 0.01;
//   width: 0px;
// }
//
// .work-appear.work-appear-active {
//   // opacity: 1;
//   width: 100%;
//   transition: .5s;
//   transition-timing-function: ease-in;
// }
//
// .blog-appear {
//   // opacity: 0.01;
//   width: 0px;
// }
//
// .blog-appear.blog-appear-active {
//   // opacity: 1;
//   width: 100%;
//   transition: .5s;
//   transition-timing-function: ease-in;
// }
//
// .title-appear {
//   // opacity: 0.01;
//   width: 0px;
// }
//
// .title-appear.title-appear-active {
//   // opacity: 1;
//   width: 100%;
//   transition: .5s;
//   transition-timing-function: ease-in;
// }


// TODO: move to animated button.less
.block{
  background-color: #378a9b;
  letter-spacing: .1em;
  font-weight: 300;
  line-height: 11;
  font-family: -apple-system, BlinkMacSystemFont, Lato, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  border-radius: .25rem;
  text-transform: uppercase;
  font-weight: 700;
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.two{
  background-color: #378a9b;
  letter-spacing: .1em;
  font-weight: 300;
  line-height: 5;
  font-family: -apple-system, BlinkMacSystemFont, Lato, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  border-radius: .25rem;
  text-transform: uppercase;
  font-weight: 700;
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.four{
  background-color: #378a9b;
  letter-spacing: .1em;
  font-weight: 300;
  line-height: 5;
  font-family: -apple-system, BlinkMacSystemFont, Lato, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  border-radius: .25rem;
  text-transform: uppercase;
  font-weight: 700;
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.three{
  background-color: #378a9b;
  letter-spacing: .1em;
  font-weight: 300;
  line-height: 8;
  font-family: -apple-system, BlinkMacSystemFont, Lato, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  border-radius: .25rem;
  text-transform: uppercase;
  font-weight: 700;
}

.five{
  background-color: #378a9b;
  letter-spacing: .1em;
  font-weight: 300;
  line-height: 2;
  font-family: -apple-system, BlinkMacSystemFont, Lato, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  border-radius: .25rem;
  text-transform: uppercase;
  font-weight: 700;
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.marginTop{
  margin-top: 6.5rem;
}

.mainHeaderPadding{
  margin-top: 3em;
}
