/* Typography */
html {
  height: 100%;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Lato, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.5;
}
body {
  margin: 0;
  min-height: 100%;
}

// TODO: clean up

.mainHeader{
  font-size: 9.6rem;
  color: #333;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, Lato, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.5;
}

.link, .link:active, .link:focus, .link:hover, .link:link, .link:visited {
    transition: color .15s ease-in;
}

.subHeader{
  font-size: 2rem;
  text-transform: uppercase;
  color: #777;
  letter-spacing: .1em;
  font-weight: 300;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, Lato, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin-top: 7px;
}

.block{
  background-color: #378a9b;
  letter-spacing: .1em;
  font-weight: 300;
  line-height: 11;
  font-family: -apple-system, BlinkMacSystemFont, Lato, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  border-radius: .25rem;
  text-transform: uppercase;
  font-weight: 700;
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.two{
  background-color: #378a9b;
  letter-spacing: .1em;
  font-weight: 300;
  line-height: 5;
  font-family: -apple-system, BlinkMacSystemFont, Lato, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  border-radius: .25rem;
  text-transform: uppercase;
  font-weight: 700;
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.four{
  background-color: #378a9b;
  letter-spacing: .1em;
  font-weight: 300;
  line-height: 5;
  font-family: -apple-system, BlinkMacSystemFont, Lato, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  border-radius: .25rem;
  text-transform: uppercase;
  font-weight: 700;
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.three{
  background-color: #378a9b;
  letter-spacing: .1em;
  font-weight: 300;
  line-height: 8;
  font-family: -apple-system, BlinkMacSystemFont, Lato, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  border-radius: .25rem;
  text-transform: uppercase;
  font-weight: 700;
}

.five{
  background-color: #378a9b;
  letter-spacing: .1em;
  font-weight: 300;
  line-height: 2;
  font-family: -apple-system, BlinkMacSystemFont, Lato, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  border-radius: .25rem;
  text-transform: uppercase;
  font-weight: 700;
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.marginTop{
  margin-top: 6.5rem;
}

.mainHeaderPadding{
  margin-top: 3em;
}
